.toggleinfo-title{
  margin:0;
  padding-top:20px;
  padding-bottom:20px;
  color:black;
  font-size: 12px;
  text-align: left;

}

.toggleinfo-content{
  padding: 0;
}
.bookform-content{
  padding-top: 30px;
  padding-bottom: 30px;
}
#bookform-states{
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;


}
#bookform-states.form-control{
  border:none;
  border-bottom: 1px solid #ced4da;
}

#bookform-container.container{

  margin-left:auto;
  margin-right: auto;
  width: 100vw;
padding-left: 70px;
padding-right: 70px;
}

.bookform-title, .bookform-submit{
  text-align: center;
  margin:20px;
}
.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
  }
  .InputFromTo .DayPicker-Day {
    border-radius: 0 !important;
  }
  .InputFromTo .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
  }
  .InputFromTo .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }
  .InputFromTo .DayPickerInput-Overlay {

  }
  .InputFromTo-to .DayPickerInput-Overlay {

  }
