
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.md-form.form-group{
  width:100%;
}
.toggleinfo-title{
  text-align: center;
}
.firstpage-whole{
  display: block;
  position: relative;
  height:100vh;

  overflow-x:hidden;

}

.firstpage-infoContent {
  text-align: center;
  font-size:2.5vw;
}
.firstpage-infoTitle{
  text-align: center;
  width: 100%;
  font-size:7vw;
}

.firstpage-socialIcons, .firstpage-search{
  /* display: block;
  position: absolute; */
  margin: 0 auto;

  text-align: center;
}

.firstpage-socialIcons{
  display: block;
  bottom: 20%;
  width: 100%;
  size: 12px;
}
.firstpage-searchFilter{
    width: 100%;
}
#firstpage-filterTitle{
  width: 100%;
  font-size:5vw;
  text-align: left;
}


#firstpage-filterBtn{
  border-radius: 20px;
  text-align: right;
}
.firstpage-dateCol{
  padding: 0;
}

#firstpage-filterCol{
  padding-right: 6vw;
  padding-top: 40px;
}
#firstpage-whatwedoCol{
  padding-top: 150px;
}
#firstpage-whatwedoTitle.firstpage-infoTitle{
  font-size: 4vw;
}
#firstpage-whatwedoContent.firstpage-infoContent{
  font-size: 2vw;
}
.md-form label, input{
  font-size: 12px;
  width:100%;
}

input{
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-sizing: content-box;
  background-color: transparent;
  font-size: 1rem;
  cursor: text;
  color: #757575;
  width:auto;
}

input, input[type=text].form-control{
  height:30px;

}

input:focus{

  box-shadow: 0 1px 0 0 #4285f4;
  border-bottom: 1px solid #4285f4;

}
#firstpage-howworksimg{
  width:45vw;
  height:45vw;
}
#firstpage-howworksimgCol{
  text-align: center;
}
#firstpage-learnMore{
  color:blue;
  text-align: center;
  width: 100%;
}
.section{

  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20vh;


}
.centerBlock {
  padding-top: 150px;
  padding-bottom: 80px;
  font-size: 2vw;
}
.firstpage-slidesRowName{
  text-align: right;
  width: 100%;

}
.firstpage-quote{
  font-size: 30px;
}

.navbar {
        box-shadow: none;
    }





footer.page-footer a{
  color: #4d62ae;
}

.firstpage-footer{
  padding-top:10px;
  height: 8vh;
  font-size:1vw;
  width:100vw;


}
.footer-col{
text-align: center;
}


@media (max-width: 575px){
/* .meetTeam-main{
    padding-top:10px;
    height: 8vh;
    font-size:1vw;
    text-align: center;
    width:562px;
    margin:0;
  } */

  .firstpage-infoContent, #firstpage-whatwedoContent.firstpage-infoContent {
    font-size:3.5vw;
  }
  .firstpage-infoTitle, #firstpage-whatwedoTitle.firstpage-infoTitle {
    font-size:6vw;
  }

  #firstpage-filterTitle{
    font-size: 6vw;
    text-align: center;
  }
  .md-form label, input{
    font-size: 3vw;
    width:100%;
  }
  input, input[type=text].form-control{
    height:30px;
    padding-bottom: 20px;
  }

  input{
    width: auto;
  }
  .form-control{
    height:30px;
    width:100%;
  }
  #firstpage-filterBtn{
    text-align: center;

  }
  #firstpage-fitlerBtnRow{
    width:100%;
    text-align: center;
  }

  #firstpage-whatwedoCol{
    padding-top: 10vw;
  }

  #firstpage-howworksimg{
    width:80vw;
    height: 45vw;
    width:100%;
  }

  .centerBlock{
    padding-top: 0;
  }
}
