.popup-modal, .modal-content{
  border-radius: 50px;

}

.popup-image{
  border-radius: 50%;
  width:200px;
  height: 200px;
  border: solid blue;
  position: absolute;
left: -70%;
z-index: -1;
top: -15%;
}

.modal-body{
  margin:20px;
}
.popup-modal{
  position: absolute;
    top: 20%;
    left: 40%;
}
