.Form-buttons{
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 100%;
  clear:both;
}
.next{
  padding-left: 5px;

}
.back{
  padding-right: 5px;
}
.Form-Content{
  margin: 5% 20% 15%;
}

.form-group{
  width: 100%;
}
#col3{
  width: calc(100%  /3);
}
